
                <td>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 mb-lg-6 mt-6">
                            <button type="button" id="btnEstado" class="btn btn-info" disabled>En
                                Proceso</button>
                        </div>

                        <div class="col-sm-6 col-lg-4 mb-lg-6 mt-6">
                            <button type="button" id="btnActualizar" class="btn btn-outline-primary"
                                data-bs-toggle="modal" data-bs-target="#ventanaModal">Actualizar</button>

                           
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-lg-6 mt-6">
                            <button type="button" id="btnActualizar" class="btn btn-outline-danger"
                                data-bs-toggle="modal" data-bs-target="#ventanaModal2">Eliminar</button>

                           
                        </div>
                    </div>
                </td>